body {
    background-image: url(galaxy\ background.jpg);
    background-size: cover;
}

div {
    margin: auto;
    width: 50%;
    border: 3px solid lightskyblue;
    padding: 10px;
}
.container {
    background-color: white;
    font-family: sans-serif;
}
.container2 {
    background-color: lightskyblue;
    height: 100%;
}

h1 {
    color: lightcoral;
    text-align: center;
}

button {
    position: absolute;
    left :70%;
    transform: translateX(-50%);
    border-radius: 20px;
    height: 30px;
    background-color: hotpink;
    border-style: hidden;
    color: darkslateblue;
    font-weight: bolder;
}

#list {
    background-color: white;
    color: blueviolet;
    border-radius: 25px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    background-color: aquamarine;
    width: 75%;
  }
  .task {
    background-color: white;
    width: 90%;
    grid-column: 1 / 4;
    grid-row: 1;
    border-radius: 10px;
  }

  

  